/*
Theme Name: Invert (Share on Theme123.Net)
Theme URI: http://www.sketchthemes.com/themes/invert-responsive-multipurpose-wordpress-theme/
Description: Invert a Simple, Easy to use, One click install beautiful and Elegent WordPress Theme with Easy Custom Admin Options Created by SketchTheme.com. Using Invert theme options any one can easily customize this theme according to their need. You can use your own Logo, logo alt text, custom favicon, you can add social links, rss feed to homepage, you can use own copyright text, you can also insert search engine information like meta keywords, meta description, tracking code etc. And all this information can be entered using Invert Theme Options Panel. You have to just set the content from the Invert Themes Options Panel and it'll be up ready to use.
Version: 1.0.0
Author: SketchThemes
Author URI: http://www.sketchthemes.com/
License: GNU General Public License v2.0
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: blue, two-columns, custom-menu, sticky-post, translation-ready,  featured-image-header, featured-images, full-width-template, theme-options, threaded-comments, full-width-template
-------------------------------------------------------------- */
.clear {  clear:both;  }
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {background: transparent;border: 0;margin: 0;padding: 0;vertical-align: baseline;}
body { color: #666;  font-family: 'Roboto Condensed', sans-serif;  font-size: 15px;  line-height: 25px;font-weight:300;  }
p, dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, table, address, fieldset, figure {font-weight: 300;  margin-bottom: 20px;  line-height: 25px;  }
h1, h2, h3, h4, h5, h6{  color: #222222;  }
pre {  overflow: auto;  width: 98%;  }
embed {  max-width: 100%;  }
ol{  list-style: decimal outside none;  }
ul{  list-style-type: disc;  }
li{  margin-left: 30px;  }
dl {  margin: 0 0 24px;  float: left;  }
dt {  font-weight: 400;  }
dd {  margin-bottom: 18px;  }
blockquote {  background-color: #F54336;  border-right: 3px solid #DCDCDC;  font-size: 14px;  font-style: italic;  padding:8px 5px 8px 20px;  margin-right: 10px;  margin-bottom: 10px;  color: #FFFFFF;  quotes: none;  }
cite{  font-weight: 400;  }
blockquote cite a{color: #FFFFFF;}
iframe { max-width: 100%; width:100%;outline: none;border:none;overflow:hidden;  }
blockquote:before, blockquote:after {  content: '';  content: none;  }
del {  text-decoration: line-through;  }

/* tables still need 'cellspacing="0"' in the markup */
table {  border-collapse: collapse;  border-spacing: 0;  }
th{  color:#000; text-align: center;font-weight: 400;  }
th,td{  padding:3px 5px;  border: 1px solid #CCCCCC; }
a img {  border: none;  }
a {  text-decoration: none;  }
a, img, a img, input[type="text"], input[type="password"], input, textarea {  	outline:none;  }
a:hover{ color: #111111; }

/* =Header
-------------------------------------------------------------- */
body.page-template-template-front-page-php #main{margin-top:0 !important;}
#header {  padding: 0;  position: relative;   z-index: 9999; box-shadow: 3px 0 2px rgba(0, 0, 0, 0.5); max-height: 85px;}
.skehead-headernav{ left: 0;top: 0;width: 100%;z-index: 200;  }
#header.skehead-headernav.skehead-headernav-shrink{position: fixed;}
#logo {transition: height 0.3s ease 0s, line-height 0.3s ease 0s; margin-top: 5px;  margin-bottom: 5px;position: relative;}
#logo #site-title {  margin: 0px;  font-size: 18px;}
.skehead-headernav.skehead-headernav-shrink #logo #site-title a{font-size:24px;line-height:24px;}
.skehead-headernav .logo{margin-top:16px;}
.skehead-headernav.skehead-headernav-shrink .logo { height: 34px; margin-top: 5px;}
#logo #site-title a { color: #313131;font-size: 30px;font-weight:300; margin-top: 5px; text-decoration: none;  text-transform: capitalize; line-height: 40px; display: inline-block;  }
.skehead-headernav.skehead-headernav-shrink #logo #site-title a{margin-top:0;}
#logo #site-description {  color: #666;  font-size: 12px; line-height: 15px;position: absolute; left: 2px;}
#skehead #skenav {  margin-top:0px;  }
#skehead .sub-menu{display:none; border-top: 1px solid #CCCCCC;}
.bottom-shadow { background: url("images/header_shadow.png") no-repeat scroll 0 0 transparent;  display: block;  height: 25px;  margin-bottom: 15px;  margin-top: -10px;  position: relative;  width: 869px;  }

/* =Error Messages
-------------------------------------------------------------- */
.rev_slider_install_err { background: none repeat scroll 0 0 #E1472F; border: 1px solid #E1472F; color: #FFFFFF; font-size: 20px; margin-top: 10px; padding: 10px; text-align: center; } 

/* =Navigation
-------------------------------------------------------------- */
#skenav {background:none repeat scroll 0 0 transparent;  display:block;  margin-left:auto;  margin-right:auto;  border:medium none;  } 
#skenav .ske-menu, ul.menu {  font-size: 13px;  margin: 0px;  display:inline-block;  width:auto;  float:right;  }
#skenav .ske-menu ul.menu {  list-style: none;  margin: 0;  }
#skenav .ske-menu .menu li, ul.menu li {  float: left;  position: relative;  margin-left: 0px;  list-style: none outside none;  }
#skenav a {color: #333333;display: block;font-size: 13px; text-transform:uppercase; line-height: 85px; padding: 0 22px;text-decoration: none;
transition: color 0.1s linear 0s, background 0.1s linear 0s;  	-webkit-transition: color 0.1s linear 0s, background 0.1s linear 0s;  	-moz-transition: color 0.1s linear 0s, background 0.1s linear 0s;  	-o-transition: color 0.1s linear 0s, background 0.1s linear 0s;  }
#header.skehead-headernav-shrink  #skenav a{ line-height: 56px; }
#skenav ul ul {  position: absolute;  top: 100%;  left: 0px;  float: left;  width: 200px;  z-index: 99999;  }
#skenav ul .sub-menu li ,#skenav ul ul li {  display: block; width:100%;  }
#skenav ul .children li:first-child,  #skenav ul .sub-menu li:first-child {  border-top: none;  }
#skenav ul ul li{  border-top: 1px solid rgba(0,0,0,.15);  }
#skenav ul ul ul.sub-menu,#skenav ul ul ul.children{  left: 100%;  top: 0px !important; border-top: 0 none;margin-top:0;  }
#skenav ul ul a {  line-height: 1.2em;  font-size: 13px;  padding: 10px 20px;  width: auto;  height: auto;  color: #FFFFFF;  }
#header.skehead-headernav-shrink #skenav ul ul a {  line-height: 1.2em;  }
#skenav ul li:hover{  z-index:999999999999;  }
* html #skenav ul li.current_page_item a, * html #skenav ul li.current-menu-ancestor a, * html #skenav ul li.current-menu-item a, * html #skenav ul li.current-menu-parent a, * html #skenav ul li a:hover {  color: #fff;  }

/* =Content
-------------------------------------------------------------- */
#container {margin-top:4px;}
#main {  padding: 0 0 0px;  background: none repeat scroll 0 0 #FEFEFE; }
#content {  word-wrap: break-word;  -ms-word-wrap: break-word; }
.left-sidebar #content{margin-top:0px;}
.container.post-wrap { margin-top: 51px;  }
.default-pagetemp #content {margin-top:-3px;}
#content .post:first-child{padding-top:0px}
#content .post { border-bottom: 0px solid #E1E1E1 ;padding-bottom: 40px; padding-top: 40px;}
#content .post.project-temp4{padding-bottom: 26px;}
#content .post.project-temp3{padding-bottom: 29px;}
#content .post.project-temp2{padding-bottom: 26px;}
#content .post.project-temp4 .navigation{margin-bottom:9px;margin-top: 5px;}
#content .post.project-temp3 .navigation{margin-bottom:6px; margin-top: 8px;}
#content .post.project-temp2 .navigation {margin-bottom:9px;margin-top: 5px;}
.archive #content .post:first-child ,.page-template-template-blog-page-php #content .post:first-child,.page-template-template-blog-fullwidth-php #content .post:first-child ,.blog #content div.post:first-child,.page-template-template-blog-left-sidebar-page-php #content .post:first-child  { padding-top: 0;}
.blog #content .post,.archive #content .post,.page-template-template-blog-page-php #content .post,.page-template-template-blog-fullwidth-php #content .post ,.page-template-template-blog-left-sidebar-page-php #content .post{border-bottom: 1px solid #E1E1E1 ;padding-bottom: 40px; padding-top: 40px;}
.blog-template #content .post:last-child, .blog #content .post:last-child{border-bottom:0;}
.category #content .post:last-child,.tag #content .post:last-child, .archive  #content .post:last-child, .search  #content .post:last-child{border-bottom:0;}
.blog-template #content, .blog #content {margin-bottom:17px;}
.tag #content, .category #content,.archive  #content, .search  #content {margin-bottom:15px;}
.search #content .post { border-bottom: 1px solid #E1E1E1 ;}
.blog-template .container.post-wrap, .blog .container.post-wrap{margin-top:50px;}
.blog-template .navigation #invert-paginate, .blog .navigation #invert-paginate{margin-bottom:38px;}
.fullwidth-temp .container.post-wrap {margin-top:48px;}
.fullwidth-temp #content .post{padding-bottom:30px;}
.sitemap-temp #content{margin-bottom:30px;}
.left-sidebar #content .post{padding-bottom:30px;}
.default-pagetemp #content .post{padding-bottom:50px;}
.entry {  margin: 10px 0 15px;  }
.entry-title a {  color: #000000;  text-decoration: none;  }
.post-title{ margin-bottom: 12px;}
.post-title a { font-size: 21px;line-height: 28px;}
.title a {  color: #000000;  display: block;  margin-bottom: 7px;  text-decoration: none; font-size:22px; line-height: 26px;  }
.title a:hover {  color: #000;  }
.skepost-meta {  color: #555555; font-size: 13px; margin-bottom: 15px; word-spacing: 2px } 	
.skepost-meta abbr {  border: none;  }
.skepost-meta abbr:hover {  border-bottom: 1px dotted #666;  }
.skepost {clear: both;  }
.skepost img {margin-bottom: 10px;  }
.skepost input {  margin: 0 0 24px 0;  }
.skepost input.file, .skepost input.button {  margin-right: 24px;  }
.skepost label {  color: #888;  font-size: 12px;  }
.skepost select {  margin: 0 0 24px 0;  }
.skepost sup, .skepost sub {  font-size: 10px;  }
.skepost blockquote.left {  float: left;  margin-left: 0;  margin-right: 24px;  text-align: right;  width: 33%;  }
.skepost blockquote.right {  float: right;  margin-left: 24px;  margin-right: 0;  text-align: left;  width: 33%;  }
body.page .edit-link {  clear: both;  display: block;  } 
.skepost-meta a {  text-decoration:none; font-weight: 400; }
.skepost-meta span { display: inline-block;margin-right: 1px;padding-top: 0;  }
.skepost-meta span i{margin-right: 2px;}
.skepost-meta .category a{  display:inline-block;  }
.main-box .main-box-mid {  margin-bottom: 10px;  }
.readmore {  margin-top:15px;  }
.readmore a {  background-color: #444444;  border-radius: 5px 5px 5px 5px;  color: #FFFFFF;  display: block;  font-style: italic;  height: 24px;  overflow: hidden;  padding: 0 2px 0 10px;  text-decoration: none;  width: 91px;  }
.readmore a:hover {  background-color: #5F5F5F;  }
#content .continue{ text-align:right; }
.continue a {border: 1px solid #F54336; cursor: pointer; display: inline-block; font-size: 14px;margin-bottom: 0;padding: 8px 10px; position: relative;transition: all 0.3s linear 0s;  	-webkit-transition: all 0.3s linear 0s;  	-moz-transition: all 0.3s linear 0s;  	-o-transition: all 0.3s linear 0s;line-height:20px;}
.continue a:hover { background: none repeat scroll 0 0 #F54336; color: #FFFFFF; transition: all 0.3s linear 0s; -webkit-transition: all 0.3s linear 0s;  	-moz-transition: all 0.3s linear 0s;  	-o-transition: all 0.3s linear 0s;  }
.sticky-post {border-bottom: 1px solid transparent; font-size: 22px; font-weight: 300;padding-top:35px; padding-bottom: 10px; text-transform: uppercase; width: 120px; } 	
.sticky-post:first-child{padding-top:0; margin-top: -5px;}
#content .post.sticky { padding-top: 15px;}
.single #content .title{margin-bottom:12px;}
#content.blogsidebar{margin-top:0px;}

/* =Postformat css
-------------------------------------------------------------- */
.flex-video.widescreen.vimeo {margin-bottom: 20px;}
.gallery-box.slides li {margin: 0;}
.image-gallery-slider {height: 365px;overflow: hidden;position: relative;}
.page-template-template-blog-fullwidth-php .image-gallery-slider {height: 555px;overflow: hidden;position: relative;}
.slider-attach {overflow: hidden;position: relative;margin-bottom: 20px;}
.postformat-gallerydirection-nav {list-style-type: none;position: absolute;right: 0;top: 3px;z-index: 99;}
.postformat-gallerydirection-nav li {margin: 0;}
.postformat-gallerydirection-nav li a {background-color:rgba(0, 0, 0, 0.5);display: block;font-style: normal;font-size: 20px;height: 20px;line-height: 16px;      margin: 0 3px;      padding: 10px;      text-align: center;      transition: all 0.5s linear 0s;  	-webkit-transition: all 0.5s linear 0s;  	-moz-transition: all 0.5s linear 0s;  	-o-transition: all 0.5s linear 0s;      width: 20px;  }
.postformat-gallerydirection-nav li a:hover { background-color:rgba(245, 67, 54, 0.5);  transition: all 0.5s linear 0s;  	-webkit-transition: all 0.5s linear 0s;  	-moz-transition: all 0.5s linear 0s;  	-o-transition: all 0.5s linear 0s;  }
.postformat-gallerydirection-nav .postformat-gallerynext{ background-image:url("images/plus.png");background-repeat:no-repeat;}
.postformat-gallerydirection-nav .postformat-galleryprev{ background-image:url("images/minus.png");background-repeat:no-repeat;}

/* = page title css
-------------------------------------------------------------- */
.bread-title-holder{   background-color: #F8F8F8;display: block;height: 150px; position: relative; text-align: center; width: 100%;  }
.bread-title-holder .container { display: table;height: 100%; position: relative;   }
.bread-title-holder .container .row-fluid { display: table-cell; vertical-align: middle;  }
.bread-title-holder  .cont_nav {display: block; margin-top:11px; position: relative;  }
.bread-title-holder .cont_nav_inner p{margin:0;color:#fff;}

/* = front css
-------------------------------------------------------------- */
.front-video-bg {  width: 100%; }
.mid-box:hover .iconbox-icon i{  color: #F54336;  }
#featured-box{padding-top:60px;}
.skt-section{  padding: 50px 0 0;  }
.skt-iconbox.iconbox-top {text-align: center;}
.skt-iconbox.iconbox-top .iconbox-icon {height: auto;position: relative;text-align:center; }
.iconbox-content { line-height: 22px;  }
.skt-animated.skt-viewport.small-to-large{ animation:skt_zoom 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s normal none 1; -webkit-animation:skt_zoom 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s normal none 1;  	-moz-animation:skt_zoom 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s normal none 1;-o-animation:skt_zoom 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s normal none 1; opacity:1; }
@keyframes skt_zoom{0%{transform:scale(.3);opacity:.1} 100%{transform:scale(1);opacity:1}}
@-webkit-keyframes skt_zoom{0%{-webkit-transform:scale(.3);opacity:.1} 100%{-webkit-transform:scale(1);opacity:1}}
@-moz-keyframes skt_zoom{0%{-moz-transform:scale(.3);opacity:.1} 100%{-moz-transform:scale(1);opacity:1}}
@-o-keyframes skt_zoom{0%{-o-transform:scale(.3);opacity:.1} 100%{-o-transform:scale(1);opacity:1}}
.iconbox-icon i {   border: 1px solid #555555; border-radius: 100%; color: #333333; font-size: 35px; height: 50px; line-height: 53px; margin-bottom: 20px; padding: 20px; text-align: center; width: 50px;transition: all 0.3s ease 0s;-webkit-transition: all 0.3s linear 0s;-moz-transition: all 0.3s linear 0s;-o-transition: all 0.3s linear 0s;  } 	
.skt-iconbox.iconbox-top .iconbox-icon img {border-radius: 50% 50% 50% 50%; top:0; position: relative; top: 0; height: 150px; position: relative; width: 150px;     margin-bottom: 20px; 
transition-duration:0.5s; 
transition-timing-function: ease; 
transition-delay:0s; 
-moz-transition-duration:0.5s; 
-moz-transition-timing-function:ease; 
-moz-transition-delay:0s; 
-webkit-transition-duration:0.5s; 
-webkit-transition-timing-function:ease; 
-webkit-transition-delay:0s; 
-o-transition-duration:0.5s; 
-o-transition-timing-function:ease; 
-o-transition-delay:0s; 
}
.skt-iconbox.iconbox-top .iconbox-icon img:hover{top:-5px;}
.skt-iconbox.iconbox-top .iconbox-icon img:after{position: absolute;top: -2px; left: -2px;z-index: -1;width: 100%; height: 100%; 		border-width: 2px;border-style: solid;content: "";  border-color:#000; -webkit-border-radius: 50%; border-radius: 50%; -webkit-transform: scale(0.9);transform: scale(0.9);-webkit-transition-duration: 225ms; -webkit-transition-property: all; -webkit-transition-timing-function: cubic-bezier(0.5, -0.7, 0.67, 0.7);transition-duration: 225ms; transition-property: all;transition-timing-function: cubic-bezier(0.5, -0.7, 0.67, 0.7);}
.skt-iconbox.iconbox-top .iconbox-icon img:hover:after{  -webkit-transform: scale(1.13); -moz-transform: scale(1.13); -ms-transform: scale(1.13); -o-transform: scale(1.13);transform: scale(1.13); -webkit-transition-timing-function: cubic-bezier(0.4, 0.25, 0.14, 1.73);-moz-transition-timing-function: cubic-bezier(0.4, 0.25, 0.14, 1.73);-o-transition-timing-function: cubic-bezier(0.4, 0.25, 0.14, 1.73); transition-timing-function: cubic-bezier(0.4, 0.25, 0.14, 1.73); } 
.skt-iconbox.iconbox-top .iconbox-content h4:after {background-color: #333333; bottom: 0; content: "";  display: block;      height: 1px; left: 50%; margin-left: -25px; position: absolute; width: 50px;  }
.skt-iconbox.iconbox-top .iconbox-content h4 {margin-bottom: 20px;padding-bottom: 20px;  }
.skt-iconbox .iconbox-content h4 { font-size: 16px;letter-spacing: 0.5px; position: relative; text-transform: uppercase;  }
.skt-ctabox {overflow: hidden;position: relative;text-align: center; margin-bottom: 25px; }
.skt-ctabox .skt-ctabox-content { margin-bottom: 25px;  }
.skt-ctabox .skt-ctabox-content h2 { font-weight: 300;margin-bottom: 20px;text-transform: uppercase;line-height: 35px;font-size: 28px;  }
.skt-ctabox div.skt-ctabox-button a:before, .skt-ctabox div.skt-ctabox-button a:after { border-top: 4px double #E1E1E1; content: ""; display: block;height: 1px;position: absolute;      right: 110%;      top: 50%;      width: 200px;  }
.skt-ctabox div.skt-ctabox-button a:after {left: 110%;right: auto;  }
.skt-ctabox div.skt-ctabox-button a:before, .skt-ctabox div.skt-ctabox-button a:after { border-top: 4px double #E1E1E1;      content: "";      display: block;      height: 1px;      position: absolute;      right: 110%;      top: 50%;      width:514px;  }
.skt-ctabox div.skt-ctabox-button a,.skt-parallax-button { display: inline-block; margin-bottom: 0;position: relative;  line-height: 20px; 	font-size: 14px;      padding: 8px 25px;  	border: 1px solid #F54336;  	transition: all 0.3s linear 0s;  	-webkit-transition: all 0.3s linear 0s;  	-moz-transition: all 0.3s linear 0s;  	-o-transition: all 0.3s linear 0s;  	cursor: pointer;  }
.skt-ctabox div.skt-ctabox-button a:hover,.skt-parallax-button:hover { background:#F54336;color:#fff; transition: all 0.3s linear 0s;-webkit-transition: all 0.3s linear 0s;-moz-transition: all 0.3s linear 0s;-o-transition: all 0.3s linear 0s;}

/* =front portfolio
-------------------------------------------------------------- */
.portfolio-title{margin-bottom: 30px;  }
#portfolio-division-box  h3,  #full-client-box h3,  #team-division-box h3 {font-size:25px; font-weight:300;  	margin: 0 0 10px;  	padding-top: 8px;  }
#portfolio-division-box  .border_left,  #full-client-box  .border_left {border-bottom: 1px solid #CCCCCC; display: block;      margin-bottom: 10px;      width: 100px;  }
#portfolio-division-box .readmore {display: inline-block; margin: 0;position: relative; font-size: 14px; padding: 8px 25px;  line-height: 20px; 	border: 1px solid #F54336;  	transition: all 0.3s linear 0s;  	-webkit-transition: all 0.3s linear 0s;  	-moz-transition: all 0.3s linear 0s;  	-o-transition: all 0.3s linear 0s;      cursor: pointer;      float: right;  }
#portfolio-division-box  a.readmore:hover { background:#F54336;color:#fff; transition: all 0.3s linear 0s;	-webkit-transition: all 0.3s linear 0s;-moz-transition: all 0.3s linear 0s;-o-transition: all 0.3s linear 0s;}
.portfolio-title .span4.port-readmore { float: right;margin-top: 6px;}
.portfolio-box-mid .title {text-align: center;  }
.project-item{  display: inline-block; position: relative;overflow: hidden;background:none repeat scroll 0 0 #fff; color:#444;transition: all 0.3s linear 0s;-webkit-transition: all 0.3s linear 0s;-moz-transition: all 0.3s linear 0s;-o-transition: all 0.3s linear 0s;}
.project-item:hover {background:none repeat scroll 0 0 #F54336;color:#fff;transition: all 0.3s linear 0s;	-webkit-transition: all 0.3s linear 0s;-moz-transition: all 0.3s linear 0s;-o-transition: all 0.3s linear 0s;}
.project-item  .title a {color:#222;transition: all 0.3s linear 0s;-webkit-transition: all 0.3s linear 0s;-moz-transition: all 0.3s linear 0s;-o-transition: all 0.3s linear 0s;font-size: 15px;  height: 30px;overflow: hidden; position:absolute;left:0;right:0;text-transform: uppercase;width: 92%;margin:0 auto;}
.project-item  .title:hover a,.project-item  .title a:hover,.project-item:hover .title a {color:#fff;transition: all 0.3s linear 0s;	-webkit-transition: all 0.3s linear 0s;-moz-transition: all 0.3s linear 0s;-o-transition: all 0.3s linear 0s;}
.project-item .feature_image {position: relative;overflow: hidden; height: 230px;}
.two-col .project-item .feature_image  {position: relative;overflow: hidden; height: 470px;}
.three-col .project-item .feature_image {position: relative;overflow: hidden; height: 372px;}
.project-item img,.project-item .title  {transition: all 0.2s linear 0s; -webkit-transition: all 0.2s linear 0s;-moz-transition: all 0.2s linear 0s;-o-transition: all 0.2s linear 0s;  }
.project-item:hover img {transform: scale(1.05, 1.05);-webkit-transform: scale(1.05, 1.05); -moz-transform: scale(1.05, 1.05); -o-transform: scale(1.05, 1.05); -ms-transform: scale(1.05, 1.05);  } 
.project-item .title {display: block;height: 40px;padding: 15px 10px 0;text-align: center;position:relative;border:1px solid #F1F1F1; border-top:0;border-bottom:1px solid #ccc;}
.project-item .mask {height: 80.5%; left: 0; overflow: hidden; position: absolute; top: 0; transition: all 0.4s ease-in-out 0s;-webkit-transition:  all 0.4s ease 0s;  	-moz-transition:  all 0.4s ease 0s;  	-o-transition:  all 0.4s ease 0s;      width: 100%;  }
.project-item:hover .mask {background-color: rgba(0, 0, 0, 0.6);  }
.project-item .icon-image {transition: all 0.4s ease 0s;-webkit-transition:  all 0.4s ease 0s;  	-moz-transition:  all 0.4s ease 0s;  	-o-transition:  all 0.4s ease 0s;  }
.project-item .icon-image {  height: 100%; opacity: 0; position: absolute; width: 100%} 	
.project-item .icon-image {background: none repeat scroll 0 0 #F54336;  }
.project-item:hover .icon-image{opacity:.9;}  
.project-item .icon-image i {  color: #FFFFFF;  line-height: 44px;  position: relative;  text-align: center;  top: -2px;  } 
#portfolio-division-box{padding-bottom: 62px;}
.project-item .mask a {background:url('images/pluse.png') center no-repeat;}
.page-template-template-project-nofilter-php #container-isotop{margin-top:0px !important;}

/* =full content with parallax
-------------------------------------------------------------- */
#full-division-box,.bread-title-holder{   overflow: hidden;position: relative;      } 
.full-content-box{ padding: 60px 0 50px;position: relative; }
.full-content-box .span5 > h2 {line-height: 28px;}
.full-bg-image-fixed{background-image: url("images/PArallax_Vimeo_bg.jpg"); }
.bread-title-holder h1.title {font-size: 29px;margin:0;line-height:30px;color:#222;}
.bread-title-holder .cont_nav_inner a,.bread-title-holder .cont_nav_inner p{font-size:14px;}
.bread-title-holder .skt-breadcrumbs-separator {color:#666;}
.full-bg-image-fixed,.full-bg-breadimage-fixed{ background-attachment: fixed; background-repeat: repeat;background-size: cover;-webkit-background-size: cover;
-moz-background-size: cover; bottom: 0; height: 100%; left: 0;overflow: hidden;position: absolute; width: 100%;  box-shadow: 0 -2px 3px -1px rgba(0, 0, 0, 0.06) inset;}
@media screen and (-webkit-min-device-pixel-ratio:0) {
::i-block-chrome,.full-bg-image-fixed
{
background-attachment: scroll !important;
}
}
.row-fluid .clients-items .span2 { margin-left: 0; width: 20%;  }
.clients-items li a { border: 1px solid #E1E1E1;border-right: medium none; display: block; height: 100px;  overflow: hidden; position: relative; transition: all 0.8s ease 0s;  	-webkit-transition: all 0.8s ease 0s;  	-moz-transition: all 0.8s ease 0s;  	-o-transition: all 0.8s ease 0s;  }
.clients-items li:last-child a { border-right: 1px solid #E1E1E1;  }
.clients-items img { bottom: 0;margin: auto; opacity: 0.5;position: absolute; top: 0;transition: all 0.8s ease 0s;-webkit-transition: all 0.8s ease 0s; -moz-transition: all 0.8s ease 0s;  	-o-transition: all 0.8s ease 0s;  }
.clients-items li:hover img{opacity: 1;transition: all 0.8s ease 0s;-webkit-transition: all 0.8s ease 0s;-moz-transition: all 0.8s ease 0s;-o-transition: all 0.8s ease 0s;}
.clients-items li a:hover { border-bottom: 1px solid #F54336; opacity: 1;transition: all 0.8s ease 0s;-webkit-transition: all 0.8s ease 0s; -moz-transition: all 0.8s ease 0s;-o-transition: all 0.8s ease 0s;  }
.clients-items {margin-top:40px}
.para_btn{color: #fff; border: 1px solid #fff; font-size: 20px; display: inline-block; line-height: 20px; padding: 10px 41px; margin-top: 30px;transition: all 0.8s ease 0s;-webkit-transition: all 0.8s ease 0s;  	-moz-transition: all 0.8s ease 0s;  	-o-transition: all 0.8s ease 0s;  }
.para_btn:hover { background: none repeat scroll 0 0 #FFFFFF;transition: all 0.8s ease 0s;-webkit-transition: all 0.8s ease 0s;  	-moz-transition: all 0.8s ease 0s;  	-o-transition: all 0.8s ease 0s;  color:#E74C3C;}

/* =front team
-------------------------------------------------------------- */
#team-division-box {  background: none repeat scroll 0 0 #FAAE33;  padding-bottom: 32px; }
#full-client-box {padding-bottom:42px;}
.team-box.row-fluid { }
.team-box.row-fluid .team-box-mid.span4 {  margin-left: 0;   margin-right: 2.5642%;margin-bottom: 30px; }
.team-box.row-fluid .team-box-mid.span4.no-margin {   margin-right: 0;}
.team_name { font-size: 16px; font-weight: 400;   text-transform: capitalize;}
.team_custom_title.title_center,.team_custom_title.title_center  h3 {  text-align: center;  color: #222;  }
#team-division-box .border_center {  border-bottom: 1px solid #222;  display: block;  margin: 0 auto 10px;  width: 100px;  }
#team-division-box.about-template{   padding-top: 43px;padding-bottom: 25px;}
.teammember {  background-color: #FFFFFF;  border-top: 6px solid #F54336; border-bottom: 1px solid;color: #838383;margin-top:100px;padding: 0 25px 5px;  }
.teammember > a {  cursor:default;border: 5px solid transparent;  border-radius: 100% 100% 100% 100%;  display: block;  height: 176px;  margin: -93px auto 20px;    width: 176px;  }
.teammember img.teammember_img {height: 176px; width: 176px; box-shadow: 0 0 0 5px #F54336 ; border-radius: 50%;}
.teammember p {  border-bottom: 1px solid #EEEEEE;  color: #838383;  line-height: 20px;  padding-bottom: 20px;  text-align: center;  }
.teammember strong {  display: block;  padding-bottom: 6px;  text-align: center;    text-transform: capitalize;font-weight:400;}
.teamsocial {  margin-bottom: 10px; margin-left: 0; margin-right: 0; position: relative; text-align: center; top: 1px;} 	
.teamsocial li:first-child {}
.teamsocial li {  float: none;  display: inline-block;  font-size: 26px;  list-style-type: none;  margin: 0 0 -5px 1px;  text-align: center;  }
.teamsocial li a{  display: block;  height: 36px;  width: 36px;  transition: all 0.6s linear 0s;	-webkit-transition: all 0.6s linear 0s;-moz-transition: all 0.6s linear 0s;-o-transition: all 0.6s linear 0s;}

/*  =Twitter row
-------------------------------------------------------------- */
#full-twitter-box{  background-color: #F54336;  color: #fff;  padding: 0;  } 
.twitter-row a {  color: #eee;  font-style: italic;  }
.twitter-row a:hover {color: #000000;}
.twitter-row .twitter-item {    color: #fff;    display: none;  margin:0; font-size:14px;   text-shadow:none; line-height: 25px;  }
.twitter-item i{  display: block;  float: left;  font-size: 21px;  margin-right: 14px;  margin-top: 2px;  }
.twitter-row .twitter-item .date {  font-style: italic;  }
.twitter-row .foot-tw-viewport .twitter-item {    display: block;    height: 60px; }
.tw-slider { padding: 20px 0 15px; }
.twitter_box.slides {float: left; width: 90%;  }
.foot-tw-direction-nav {float: right; margin: 0; padding: 0;  }
.foot-tw-direction-nav li {float: left;list-style: none outside none;margin: 0;  }
.foot-tw-direction-nav li a { background: url('images/carousel-arrows.png') repeat scroll 0 0 #fff; display: block;font-style: normal;height: 25px;line-height: 13px; margin-left: 1px;      text-align: center;      width: 23px;   }
.foot-tw-direction-nav li a:hover { background-color:#252525; background-image: url('images/carousel-arrows.png'); color: #000;  }
.foot-tw-direction-nav .foot-tw-prev{ background-position: 0 25px}
.foot-tw-direction-nav .foot-tw-next{ background-position: 0 0;}
.foot-tw-direction-nav .foot-tw-prev:hover{ background-position: 46px 25px;}
.foot-tw-direction-nav .foot-tw-next:hover{ background-position: 46px 0;}

/* =Service page
-------------------------------------------------------------- */
.service-icon{  float: left; background: none repeat scroll 0 0 rgba(0, 0, 0, 0); border: 1px solid #E74C3C; border-radius: 50%; display: inline-block; height: 60px; margin-bottom: 20px; position: relative; transition: background 0.3s ease-in-out 0s;  -webkit-transition: background 0.3s ease-in-out 0s;  -moz-transition: background 0.3s ease-in-out 0s;  -o-transition: background 0.3s ease-in-out 0s; width: 60px;}
.service-icon i { color: #E74C3C; font-size: 32px; left: 54%; margin: -16px 0 0 -16px; position: absolute; top: 50%; transition: color 0.15s ease-in-out 0s; }
.service-icon:hover i{color:#fff;}
.service-box-text{padding-left: 90px;}
#content .service-box-text h3{font-size: 22px;}
.serviceimg img {float: none;}
#content .skt-service-page div.one_third:hover  i{color:#fff;}
#content div.one_half .skt-service-page:hover  i{color:#fff;}
.service-con {border-bottom: 1px solid #CCCCCC; border-left: 1px solid #F1F1F1; border-right: 1px solid #F1F1F1; margin-top: -7px; padding: 10px 12px 12px; text-align: justify; }

/* =Comments
-------------------------------------------------------------- */
.comment-box-top {background: url("images/comment-box-top.jpg") no-repeat scroll 0 0 transparent;height: 6px;width: 612px; }
.comment-box-mid {background: url("images/comment-box-mid.jpg") repeat-y scroll 0 0 transparent;width: 612px;padding: 20px 0 0 25px; }
.comment-box-btm {background: url("images/comment-box-btm.jpg") no-repeat scroll 0 0 transparent;height: 6px;width: 612px; }
.leavereply {margin-bottom: 20px;  }
.note { font-size: 10px;  }
#comments {clear: both;  }
#comments .navigation {padding: 0 0 18px 0;  }
h3#comments-title, h3#reply-title {color: #000000;font-size: 22px; font-weight: 300; margin-bottom: 0; }
h3#comments-title {padding: 24px 0;  }
.commentlist {list-style: none;  margin: 0;  }
.commentlist li {margin: 0 0 0 25px;  }
.commentlist p { margin: 5px 0;  }
.commentlist li.comment {line-height: 24px;  margin: 0 0 10px 0;  position: relative;  }
.commentlist li:last-child { margin-bottom: 0;  }
#comments .comment-body ul, #comments .comment-body ol {  margin-bottom: 18px;  }
#comments .comment-body p:last-child {  margin-bottom: 6px;  }
#comments .comment-body blockquote p:last-child {  margin-bottom: 24px;  }
.commentlist ol {  list-style: decimal;  }
#content .commentlist .avatar {  height: 77px;  left: -100px;  margin-right: 5px;  position: absolute;  top: 4px;  width: 77px;  }
.comment-author {   position: relative;  }
.comment-author cite {  color: #000;  font-style: normal;  font-weight: 400;  }
.comment-author .says {  font-style: italic;  }
.comment-meta {  font-size: 12px;  margin: 0 0 18px 0;  }
.comment-meta a{  text-decoration: none;  }
.comment-meta a:hover {  color: #ff4b33;  }
.commentlist .bypostauthor {}
.reply {  font-size: 12px;  padding: 0 0 10px;  position: absolute;  right: 0;  top: 10px;  }
.reply a, a.comment-edit-link {  color: #222;  }
.reply a:hover, a.comment-edit-link:hover {  color: #ff4b33;  }
.commentlist .children {  list-style: none;  margin: 0;  }
.commentlist .children li {  background: url("images/corner-arrow.png") no-repeat scroll left 0 transparent;  padding-left: 45px;  }
.comment-body {  border-bottom: 1px solid #EEEEEE;  margin-bottom: 10px;  padding:12px 0 12px 100px;  }
.comment-edit-link {  display: none;  }
.nopassword, .nocomments {  display: none;  }
#comments .pingback {  border-bottom: 1px solid #e7e7e7;  margin-bottom: 18px;  padding-bottom: 18px;  }
.commentlist li.comment+li.pingback {  margin-top: -6px;  }
#comments .pingback p {  color: #888;  display: block;  font-size: 12px;  line-height: 18px;  margin: 0;  }
#comments .pingback .url {  font-size: 13px;  font-style: italic;  }

/* =Comments form 
-------------------------------------------------------------- */
input[type=submit] {color: #333;}
#content #respond {border: 1px solid #EEEEEE;  color: #000000;  font-size: 20px;  margin-bottom: 10px;  padding: 20px;  position: relative;  margin-top: 25px;}
.comments-template {border-top:1px solid #EEEEEE;  margin-bottom: 20px;  margin-top: 20px;}
.comments-template #commentsbox { padding-top: 10px;}
.comments-template a {text-decoration: none; }
.comments-template .reply  a {  border: 1px solid #F54336;  cursor: pointer;  display: inline-block;  font-size: 14px;  line-height: 20px; margin-bottom: 0;  padding:4px 22px;  position: relative;  transition: all 0.3s linear 0s;  -webkit-transition: all 0.3s linear 0s;  -moz-transition: all 0.3s linear 0s;  -o-transition: all 0.3s linear 0s;  text-decoration: none;  }
.comments-template .reply  a:hover { background: none repeat scroll 0 0 #F54336;color: #FFFFFF; transition: all 0.3s linear 0s; -webkit-transition: all 0.3s linear 0s;-moz-transition: all 0.3s linear 0s;-o-transition: all 0.3s linear 0s;}
#comments {  color:#000000;  font-size:20px;  margin-bottom:0;  padding:10px 0;  }
.commentmetadata {  margin:0 0 15px;  position: relative;  }
.commenttext {  font-size: 14px;  margin-bottom: 10px;  margin-left: 10px;  margin-right: 5px;  }
.postmetadata {  margin:7px 0;  padding:2px 10px;  }
.postmetadata a {  color:#404040;  text-decoration:none;  }
#respond p {     clear: both;      height: 40px;      margin: 0;  }
#respond .comment-notes {  font-size: 12px;  margin-bottom: 1em;   color: #666666;}
#respond .logged-in-as{  font-size: 12px;  }
.form-allowed-tags {  line-height: 1em;  }
.children #respond {  margin: 0 0px 0 0;  }
h3#reply-title {  margin: 18px 0;  }
#comments-list #respond {  margin: 0 0 18px 0;  }
#comments-list ul #respond {  margin: 0;  }
#cancel-comment-reply-link {  font-size: 12px;  font-weight: normal;  line-height: 18px;  color: #888;  text-decoration: none;  }
#respond .required {  color: #ff4b33;font-size: 16px;}
#respond label {  float: left;font-size: 15px; margin-top: 5px;color:#666;}
#respond input[type="submit"] {      background: none repeat scroll 0 0 rgba(0, 0, 0, 0); border: 1px solid #F54336;      cursor: pointer;      display: inline-block;  	height: auto;      font-size: 14px;      margin-bottom: 0;     padding: 8px 25px;     position: relative;      transition: all 0.3s linear 0s;  	-webkit-transition: all 0.3s linear 0s;  	-moz-transition: all 0.3s linear 0s;  	-o-transition: all 0.3s linear 0s;  }
#respond input[type="submit"]:hover {      background: none repeat scroll 0 0 #F54336;      color: #FFFFFF;      transition: all 0.3s linear 0s;  	-webkit-transition: all 0.3s linear 0s;  	-moz-transition: all 0.3s linear 0s;  	-o-transition: all 0.3s linear 0s;  }
#respond input, #respond textarea {  border: 1px solid #e1e1e1;background:none repeat scroll 0 0 #F9F9F9;float: right; font-family: 'Roboto Condensed',sans-serif; font-size: 14px; font-weight: 300; height: 30px; margin: 0 0 22px; padding: 4px; width: 78%; }  
#respond .comment-form-comment {      height: 102px;  }
#commentform .submit {  float: right;  width: 175px;  }
#respond textarea {  height: 182px;  overflow:auto;  }
.form {  width: 500px;  }
#commentform .logged-in-comment {  font-family: Times New Roman;  font-size: 16px;  margin-bottom: 15px;  color: #888888;  }
#commentform  .logged-in-comment a {  color: #111;  text-decoration: none;  }
#commentform  .logged-in-comment a:hover {  color: #000;  }
#respond #input {  float: right;  margin: 0 0 20px;  width: 420px;  }
#respond .form-allowed-tags {  clear: both;  display: none;  }
#respond .form-allowed-tags code {  font-size: 11px;  }
#respond .form-submit {  margin:12px 0 0;  }
#respond .form-submit input {  font-size: 15px;  width: auto;  outline:none;  }
#commentform .left-label {  float: left;  margin-bottom: 15px;  width: 240px;  }
#commentform .right-input {  float: left;  }
#commentform .input {  float: right;  margin-top: 15px;  width: 380px;  }
#commentform .input input[type="submit"] {  float: left;  }
.cancel-comment-reply {  float: right;  margin-bottom: 15px;  }

/* =404 Page
-------------------------------------------------------------- */
.skepost._404-page { text-align: center; }
._404-page form { display: inline-block; }
.error-txt-first {font-size: 150px;line-height: 150px;margin-top: 32px;}
.error-txt { font-size: 200px;  line-height: 200px; transform: rotate(180deg); -moz-transform: rotate(-180deg); -webkit-transform: rotate(-180deg); }
._404-page p { font-size: 22px; line-height: 28px;margin-bottom:30px;}

/* =Widget Areas
-------------------------------------------------------------- */
.ske_widget ul {  list-style: none;  margin-left: 0;  }
.ske_widget ul.menu{font-size:15px;float: none;width:100%;}
.ske_widget ul.menu li{float:none;}
.ske_widget ul.menu li a {margin-left:3px;}
.ske_widget ul ul {  list-style: none;  margin-left:0px;  }
.ske_search #s {  width: 60%;  }
.ske_search label {  display: none;  }
.error404 #searchform input[type="text"],
.search #searchform input[type="text"], 
#sidebar #searchform input[type="text"],#footer #searchform input[type="text"] {  border: 1px solid #DDDDDD; color: #666; font-family: 'Roboto Condensed', sans-serif; height: 25px; padding-left: 5px; width: 200px;border-right:0; font-size: 14px;font-weight: 300;} 
#searchform input[type="submit"] { height: 29px; border-style: none; color: #FFFFFF; display: block; font-family: 'Roboto Condensed', sans-serif;  font-size: 12px; overflow: hidden; padding: 4px 11px; text-decoration: none; width: auto;cursor:pointer;font-size: 14px;font-weight: 300;margin:0;-webkit-padding-before:5px;-webkit-padding-after:5px;-webkit-padding-start:14px;-webkit-padding-end:14px;} 	
#footer #searchform input[type="text"]{border:0;height:27px;}
.ske-container {  margin:0 0 30px;  } 
.widget_search .ske-title {  border-bottom: none;  }
.ske-title {  font-size: 16px;  font-weight: bold;  line-height: 23px;  margin-bottom: 10px;  font-size: 24px;  }
.ske-container img,  .ske-container select {      height: auto;      max-width: 100%;  }
.ske_widget a:link, .ske_widget a:visited {  text-decoration: none;  color: #666666;  }
.ske_widget a:active, .ske_widget a:hover {  text-decoration: none;  color: #000;  }
.ske_widget a.image:hover {  padding:0;  }
#wp_tag_cloud div {  line-height: 1.6em;  }
#wp-calendar {  background: none repeat scroll 0 0 #F54336;  color: #FFFFFF;  padding: 2px;  width: 100%;  }
#wp-calendar caption {  color: #525252;  font-size: 14px;  font-weight:normal;  padding-bottom: 4px;  text-align: left;  }
#wp-calendar thead {  font-size: 11px;  }
#wp-calendar thead th {  border: medium none;  color: #FFFFFF;  font-weight: normal;  padding: 9px 5px;font-size:14px; text-align:center;font-weight: 400; }
#wp-calendar tbody {  color: #aaa;  }
#wp-calendar tbody td {  border: medium none;  padding: 3px 0 2px;  text-align: center;  color:#f2f2f2; font-size:13px; }
#wp-calendar a {   color: #FFFFFF; font-weight:400; }
#wp-calendar tbody a {
background: none repeat scroll 0 0 #f0f0f0;
color: #333333;
display: block;
font-weight: 400;
height: 23px;
line-height: 21px;
margin: 0 auto;
text-align: center;
width: 23px;
}
#wp-calendar a:hover {  color: #000;  }
tfoot td {  padding: 9px 5px;  }
#wp-calendar  td {  border: medium none;  }
#wp-calendar tbody .pad {  background: none;  }
#wp-calendar tfoot #next {  text-align: right;  }

/* =Search
-------------------------------------------------------------- */
#search {  float:right;  height:55px;  }
#search input[type="text"] {  background:none repeat scroll 0 0 #545454;  border:0 solid #CCCCCC;  padding:3px;  color:#D7D7D7;  float:left;  margin-right:10px;  }
#search input[type="submit"] {  background-color:#393939;  border:0 none;  color:#D7D7D7;  height:20px;  width:60px;  }

/* =Main Sidebars
-------------------------------------------------------------- */
#sidebar { float:right; }
#sidebar  .skeside {width:100%;float:left;margin-bottom: 25px;}
.front-page #sidebar {  padding-left: 0;  }
#main .ske_widget ul {  margin-left: 0;  }
#main .ske_widget ul ul.children {  margin:0;  padding:0;  }
#main .ske_widget ul ul.children li,#main .ske_widget ul ul.sub-menu li {border-bottom:none;padding-bottom:0;}
.ske_widget ul ul li:before, .widget_nav_menu ul li:before, .widget_pages ul li:before, .widget_categories ul li:before, .wpb_taxonomy ul li:before, .widget_recent_entries ul li:before, .widget_recent_comments ul li:before, .widget_archive ul li:before, .widget_meta ul li:before{  	margin-right: 5px;  	color: #636363;  	content: "\f0da";  	font-size: 12px;  	font-family: 'FontAwesome';  }
#main .ske_widget ul ul li {  border-bottom: 1px solid #eee;  line-height: normal;  margin: 0;  padding: 7px 0;  display: block;  width:100%;  }
#sidebar_1 {  }  #sidebar_1 .ske-container img {  border: 3px solid #CCCCCC;  margin: 0 4px 8px;  padding: 2px;  }
#sidebar_1 .ske-container img:hover {  border: 3px solid #898989;  }
.ske_widget ul.social{margin-bottom:0;}
#sidebar .ske_widget div.follow-icons ul.social li:before{margin-right:0px;}
#sidebar .ske_widget div.follow-icons ul.social li {margin-top:0;margin-bottom:10px;}
#sidebar .ske-title,#footer .sitename{  font-family: 'Roboto Condensed', sans-serif;  font-weight: 300; font-size:20px; text-transform:capitalize;}

/* =Left Sidebars
-------------------------------------------------------------- */
.left-sidebar #sidebar{padding-right: 0;  padding-left: 0;float:left;margin-left:0;}
.left-sidebar #content{float:right;}

/* =Contact
-------------------------------------------------------------- */
.contact-page-content {padding: 48px 0 32px; }
.contact_detail .contact-right{line-height:29px;}
.contact_detail .contact-right ul{margin:0;}
.contact_detail .contact-right li{ border-bottom: 1px dotted #E1E1E1; list-style: none outside none; margin: 0; padding: 6px 0;} 	
.google-map{ display: block; height: 470px; width: 100%; }
#content .contact-left .fill{ height:22px; margin-bottom: 34px; margin-top: 20px; font-size: 22px; }
#content .contact-left form .wpcf7-form-control.wpcf7-not-valid{ border: 1px solid red; }
.wpcf7-quiz-label {display: block;}
#content .contact-left form input[type="text"],#content .contact-left form input[type="email"],
#content .contact-left form input[type="url"],#content .contact-left form input[type="tel"],
#content .contact-left form input[type="number"],#content .contact-left form input[type="range"],
#content .contact-left form input[type="date"],#content .contact-left form input[type="file"]{  background: #f9f9f9; border: 1px solid #e1e1e1; color: #666666; font-family: 'Roboto Condensed',sans-serif; font-size: 15px; font-weight: 300; height: 30px; margin: 5px 0 0; padding: 4px; width: 97.5%; }
#content .contact-left form select{ background: none repeat scroll 0 0 transparent; border: 1px solid #e1e1e1; height: 30px; padding: 4px; margin: 5px 0 0; width: 97.5%; }
#content .contact-left form input[type="text"]:focus,#content .contact-left form input[type="email"]:focus,
#content .contact-left form input[type="url"]:focus,#content .contact-left form input[type="tel"]:focus,
#content .contact-left form input[type="number"]:focus,#content .contact-left form input[type="range"]:focus,
#content .contact-left form input[type="date"]:focus,#content .contact-left form input[type="file"]:focus{ border: 1px solid #F54336;}
#content .contact-left form textarea{ background: #f9f9f9; border: 1px solid #e1e1e1; height: 182px; padding: 4px; margin-top: 4px; width: 98.8%;     color: #666666; font-family: 'Roboto Condensed',sans-serif; font-size: 15px; font-weight: 300;  margin-bottom: 0px;} 	
#content .contact-left form textarea:focus{ border: 1px solid #F54336;}
#content .contact-left form input[type="submit"]{background:none repeat scroll 0 0 rgba(0, 0, 0, 0); border: 1px solid #F54336; cursor: pointer; display: inline-block;     font-family: 'Roboto Condensed',sans-serif; font-size: 15px; font-weight: 300; margin-bottom: 0; padding: 8px 25px; position: relative;float:right; transition: all 0.3s linear 0s;-webkit-transition: all 0.3s linear 0s;-moz-transition: all 0.3s linear 0s;-o-transition: all 0.3s linear 0s;}  
#content .contact-left form input[type="submit"]:hover { background: none repeat scroll 0 0 #F54336; color: #FFFFFF; transition: all 0.3s linear 0s;-webkit-transition: all 0.3s linear 0s;-moz-transition: all 0.3s linear 0s;-o-transition: all 0.3s linear 0s; } 
#map .gm-style img{max-width:inherit;}
span.wpcf7-not-valid-tip { color: #FF0000; display: block; font-family: roboto; font-size: 13px; margin-top: 3px; } 
div.wpcf7-validation-errors { border: 1px solid #F7E700; font-size: 14px; font-weight: 400; margin-left: 0; margin-right: 0; } 
div.wpcf7-mail-sent-ng {border: 1px solid #FF0000;font-size: 14px; font-weight: 400; margin-left: 0; margin-right: 0; }
div.wpcf7-mail-sent-ok {border: 1px solid #398F14;font-size: 14px; font-weight: 400; margin-left: 0; margin-right: 0; }
div.wpcf7 img.ajax-loader {margin-top: 12px !important;}
.contactsidetemp div.wpcf7 img.ajax-loader {margin-left: 5px !important;}
#contactform label{  font-family:'Open Sans',sans-serif;  }
div.m-style-iw{width:300px !important;height:auto !important;}
.page-template-template-contact-with-sidebar-php #content .contact-left form input[type="submit"]{float:left;}
.page-template-template-contact-with-sidebar-php #content .post{padding-top: 0;}
.page-template-template-contact-with-sidebar-php #map_canvas{margin-bottom:40px;}
.page-template-template-contact-with-sidebar-php .contactsidetemp{margin-top:4px;}
input[type="text"],
input[type="email"],
textarea
{
    background-color: #fff;
    color: #000;
    width: 50%;
}

/* Multistream widget
-------------------------------------------------------------- */
.ske-container.sktmultisocialstream li:before,#main .ske-container.sktmultisocialstream li:before  { content: "";}
.ske-container.sktmultisocialstream li,#main .ske-container.sktmultisocialstream li {padding-bottom: 0; padding-top: 0;float: left;margin:0 8px 8px 0;height: 75px;width:75px;overflow: hidden;border: medium none;}
.ske-container.sktmultisocialstream img,#main .ske-container.sktmultisocialstream img {width:75px;height:75px; transition: all 0.2s linear 0s;-webkit-transition: all .2s linear 0s;-moz-transition: all .2s linear 0s;	-o-transition: all .2s linear 0s;	-ms-transition: all .2s linear 0s;}
.ske-container.sktmultisocialstream a,#main .ske-container.sktmultisocialstream a  {display: inline-block;height: 75px;margin: 0;padding: 0;width: 75px;}
.sktmultisocialstream img:hover,#main .sktmultisocialstream img:hover {transform: scale(1.2, 1.2);-webkit-transform: scale(1.2, 1.2); -moz-transform: scale(1.2, 1.2); -o-transform: scale(1.2, 1.2); -ms-transform: scale(1.2, 1.2); transition: all 0.2s linear 0s;-webkit-transition: all .2s linear 0s;-moz-transition: all .2s linear 0s;	-o-transition: all .2s linear 0s;	-ms-transition: all .2s linear 0s; }
#footer .ske-container > ul.sktmultisocialstream {margin-right: 0;}
.widget_tag_cloud a { background: none repeat scroll 0 0 #eee; color: #333; display: inline-block; font-size: 12px !important; margin-bottom: 5px; padding: 6px 10px; transition: all 1s linear 0s; -moz-transition: all 1s ease 0s; -webkit-transition: all 1s ease 0s; -o-transition: all 1s ease 0s;}
.widget_tag_cloud a:hover { background: none repeat scroll 0 0 #F54336; transition: all 1s linear 0s;-moz-transition: all 1s ease 0s; -webkit-transition: all 1s ease 0s; -o-transition: all 1s ease 0s; }
.ske_widget .widget_tag_cloud a {color:#333;font-weight:400; line-height: 20px;text-transform: capitalize;margin-right:2px;}
.ske_widget .widget_tag_cloud a:hover {color:#fff;}

/* =Footer
-------------------------------------------------------------- */
#footer {  background-color: #222;  margin-bottom: 0px;  color:#747474;  border-top: 5px solid #30B7FF; }
#footer .first_wrapper {  margin: 0 auto;  height: 64px;  color: #858585;  }
#footer .first_wrapper .siteinfo {  float: left;  height: auto;  margin-left: 20px;  padding: 10px 0;  }
.footer-seperator {  height: 1px;  margin-bottom: 5px;  }
.siteinfo .sitename {  margin-bottom: 5px;  } 
.siteinfo .sitename a {  color: #FFFFFF;  font-size: 20px;  text-decoration: none;  }
.siteinfo .sitedescription {  color: #858585;  font-size: 12px;  }
#footer .second_wrapper {   }
#footer .third_wrapper {  background-color: #151515; color: #969595;  margin: 0 auto;  padding: 15px 0;  }
#footer .ske-footer-container {  float: left;padding-top: 41px; margin-bottom:41px;  }
#footer li.ske-footer-container {  list-style: none outside none;  }
.ske-title.ske-footer-title {  color: #FFFFFF;  font-size: 19px;  font-weight: 300; text-transform: capitalize; padding-bottom: 5px;  margin-bottom: 5px;  }
.ske-footer-container ul li a,.ske_widget a {  height: 20px;  margin-bottom: 5px;  transition: all .5s linear 0s; -moz-transition: all .5s ease 0s; -webkit-transition: all .5s ease 0s; -o-transition: all .5s ease 0s;  }
.ske-footer-container ul li a:hover,.ske_widget a:hover{transition: all .5s linear 0s; -moz-transition: all .5s ease 0s; -webkit-transition: all .5s ease 0s; -o-transition: all .5s ease 0s;}
.ske-footer-container ul li {  list-style: none outside none;  margin-left: 0;  margin-bottom: 5px;  }
.ske-footer-container p, .ske-footer-container ul li a {  color: #999;  line-height: 18px;  }
#footer .third_wrapper .copyright {  line-height: 20px;   min-height: inherit;font-size: 12px;} 
#footer .third_wrapper .owner {  line-height: 20px;  text-align: right;  float: right;   min-height: inherit;font-size: 12px;}
#footer .third_wrapper a {  color: #969595;  text-decoration: none; font-size: 12px; }
#footer .third_wrapper a:hover {  color: #F54336;  }
a#backtop:before{color: #FFFFFF;content: "\f106"; display: block; font-family: 'FontAwesome'; font-size:14px; margin-top: 9px; text-align: center;}
a#backtop {  background: none no-repeat scroll 0 0 #F54336; bottom:7px; height: 35px; line-height: 16px; position: fixed; right: 30px; text-decoration: none; width: 35px; z-index: 9999} 	

/* =Slider ends
-------------------------------------------------------------- */
.featured-image {display: block;position: relative;text-align: center;transform-origin: 50% 50% 0;transition: all 0.5s ease-in-out 0s;  	-webkit-transition: all 0.5s ease-in-out 0s;  	-moz-transition: all 0.5s ease-in-out 0s;  	-o-transition: all 0.5s ease-in-out 0s;      width: 100%;      z-index: 1;  }
.featured-image:hover {transform: scale(1.08) translateX(20px) translateY(5px);-webkit-transform: scale(1.08) translateX(20px) translateY(5px); -moz-transform: scale(1.08) translateX(20px) translateY(5px); -o-transform: scale(1.08) translateX(20px) translateY(5px); -ms-transform: scale(1.08) translateX(20px) translateY(5px);      transition: all 2s ease-in-out 0s;  	-webkit-transition: all 2s ease-in-out 0s;  	-moz-transition: all 2s ease-in-out 0s;  	-o-transition: all 2s ease-in-out 0s;  }
.featured-image-shadow-box {overflow: hidden;margin-bottom: 29px;  }
.featured_image_shadow {  margin-top: -25px;  position: relative;  z-index:0;  }
.portfolio-items {  font-weight: bold;  padding: 10px 4px 0;  }
ul.childpages {  list-style-type: disc;  margin-left: 20px;  }
.childpages li a {  text-decoration: none;  }
.childpages li a:hover {  padding: 0 2px;  }

/* =Sitemap
-------------------------------------------------------------- */
#Site-map .sitemap-rows {  margin:-1px 0 20px; }
#Site-map .sitemap-rows .sitemap-box {  float: left; margin-right: 10px; }
#Site-map .sitemap-rows ul {  list-style: none outside none;  margin-left: 12px;  margin-top: 10px;  }
#Site-map .sitemap-rows ul li:before {   content: "\f105";   font-family: 'FontAwesome';   font-size: 11px;   margin-right: 8px; margin-top: 2px;  float: left;  }
#Site-map .sitemap-rows ul li {  margin-bottom: 5px;  margin-left: 0;  }
#Site-map .sitemap-rows ul li a {  color: #999999;  display: block;  text-decoration: none;  word-wrap: break-word;  -ms-word-wrap: break-word;  transition: all .5s linear 0s; -moz-transition: all .5s ease 0s; -webkit-transition: all .5s ease 0s; -o-transition: all .5s ease 0s;  }
#Site-map .sitemap-rows ul li a :hover{transition: all .5s linear 0s; -moz-transition: all .5s ease 0s; -webkit-transition: all .5s ease 0s; -o-transition: all .5s ease 0s;}
#Site-map  .sitemap-rows .post-heading {  margin-bottom: 20px;  }
#Site-map .sitemap-rows .title {font-size: 22px;text-transform: capitalize;}

/* =Pagination
-------------------------------------------------------------- */
#invert-paginate{ display: inline-block; font-size: 14px;margin: 20px 0;position: relative;text-align: center;width: 100%;}
#invert-paginate a{ border: 1px solid #E0DEDE;  	display:inline-block;height: 32px;line-height: 31px;padding: 0;width: 32px;transition: all 1s ease 0s;-webkit-transition: all 1s ease 0s;-moz-transition: all 1s ease 0s;-o-transition: all 1s ease 0s;}
#invert-paginate a:hover{background: none repeat scroll 0 0 #F54336;color: #FFFFFF;transition: all 1s ease 0s;-webkit-transition: all 1s ease 0s;-moz-transition: all 1s ease 0s;-o-transition: all 1s ease 0s;}
#invert-paginate .invert-prev{ float: left;left: 0;margin: 0 3px 6px 0;position: relative;}
#invert-paginate .invert-next{ float: right;margin: 0 0 6px 3px;position: relative;right: 0;}
#invert-paginate .invert-page{margin:0 3px 6px;}
#invert-paginate .icon-angle-right,#invert-paginate .icon-angle-left {font-size: 24px;line-height: 30px;}
#invert-paginate .invert-current{  background: none repeat scroll 0 0 #F54336;color: #FFFFFF;border: 1px solid #E0DEDE;display:inline-block;height: 32px;line-height: 31px;padding: 0; width: 32px;transition: all 1s ease 0s;-webkit-transition: all 1s ease 0s;  	-moz-transition:all 1s ease 0s;-o-transition:all 1s ease 0s;}
.navigation {color: #888888;font-size: 14px;line-height: 18px; margin: 10px 0 0;  overflow: hidden;  }
.navigation.blog-navigation{margin-top:35px;}
.category .blog-navigation,.tag .blog-navigation, .archive  .blog-navigation, .search  .blog-navigation{margin-bottom:35px;}
.nav-previous {float: left;width: 50%;}
.nav-next {float: right; text-align: right;width: 50%;  }

/* =Search
-------------------------------------------------------------- */
#searchform .searchleft { float: left; }
#searchform .searchright {float: left; }

/* =Error 404
-------------------------------------------------------------- */
#error-404 { margin-top: 20px; }

/* =Theme Check Include Classes
-------------------------------------------------------------- */
.wp-caption {  background: none repeat scroll 0 0 #FFFFFF;  border: 1px solid #F0F0F0;  padding: 5px 3px;  text-align: center;  border: 1px solid #EEEEEE;  max-width: 100%;  }
.wp-caption-text {  margin-bottom: 5px;  margin-top: 5px;  font-size: 11px;  } 
.sticky {}
.gallery-caption {}
.gallery-item dd {float: none;}
.alignright {float: right;margin: 5px 0px 20px 20px;}
.alignleft {float: left;margin: 5px 20px 20px 0;}
.aligncenter {display: block;  margin: 5px auto;}
.alignnone.size-full {max-width: 100%;}
#content img, #sider-bar img { height: auto;margin: 0;max-width: 100%;}
#content table {border: 1px solid #E7E7E7;margin: 0;text-align: left;width: 99%;margin: 0 0 10px;  }
#content tr td {border: 1px solid #CCCCCC;padding: 6px 24px;text-align: center;  }

/*=  mobile menu
-------------------------------------------------------------- */
#menu-icon{  display:none;  }
.responsive-nav-button {background-color: #D6D6D6;border-radius: 3px 3px 3px 3px; display: none;font-family: "FontAwesome";font-size: 21px;font-style: normal;font-weight: normal;height: 35px;line-height: 37px;text-align: center;vertical-align: middle;width: 35px; }
#mini-menu{background: url("images/menuulbg.png") repeat scroll 0 0 transparent;display: none;position: absolute;width: 470px;z-index: 99999999;}

/* =gallery
-------------------------------------------------------------- */
.gallery ul li a img{  border: none;  }
.gallery ul li{  position: relative;  z-index: 1;  }
.gallery_2columns{  list-style: none;  margin: 0 0 0 -20px;  width: 700px;  }
.gallery_2columns li{  display: inline;  float: left;  width: 330px;  height: 220px;  margin: 0 0 20px 20px;  position: relative;  }
.gallery a span{  z-index: 2;  position: absolute;  top: 0;  left: 0;  width: 100%;  height: 100%;  display: none;  cursor: pointer;  }
.gallery a span.image_hover {  background: url("../images/hover_image_big.png") no-repeat scroll center center #000000;  } 
.single .thumb-wrap span.image_hover{	background: url("../images/hover_image_big.png") no-repeat scroll center center #000000;}
.single .thumb-wrap a span { cursor: pointer;    display: none;    height: 100%;    left: 0;    position: absolute;    top: 0;    width: 100%;    z-index: 2;}
.gallery a span.video_hover{  background: black url(images/hover_video_big.png) no-repeat center center;  }

/* Social icon Widget
-------------------------------------------------------------- */
.ske-container.SktFollowContact .follow-icons li{font-family: 'FontAwesome';float:left;background:none;border:none;padding:0px;margin-right: 10px;margin-bottom:10px;}
#main .ske-container.SktFollowContact .follow-icons li:before{content:'';}
#main .ske-container.SktFollowContact .follow-icons li{font-family: 'FontAwesome';float:left;background:none;border:none;padding:0px;margin-right: 8px;margin-top:15px;width: auto;margin-left:2px;}
.ske-container.SktFollowContact .follow-icons li a{padding:0px;margin: 0;}
.social li a:before {color: #333333;transition: all 1s ease 0s;-webkit-transition: all 1s ease 0s;	-moz-transition: all 1s ease 0s;	-o-transition: all 1s ease 0s;	-ms-transition: all 1s ease 0s; }
.follow-icons li:hover{background:none;}
.linkedin-icon a:before{content: "\f0e1";}
.facebook-icon a:before{content: "\f09a";}
.twitter-icon a:before{content: "\f099";}
.flickr-icon a:before{content: "\f16e";}
.gplusicon-icon a:before{content: "\f0d5";}
.skype-icon a:before{content: "\f17e"; }
.youtube-icon a:before{content: "\f16a";}
.dribble-icon a:before{content: "\f17d"; }
.pinterest-icon a:before{content: "\f0d2";}
.tumblr-icon a:before{content: "\f173";}
.github-icon a:before{content: "\f09b";}
.foursquare-icon a:before{content: "\f180";}
.social li a:hover:before{color:#E74C3C}
.social li.linkedin-icon a:hover { background: none repeat scroll 0 0 #0280B0; }
.social li.facebook-icon a:hover { background: none repeat scroll 0 0 #3a5999; }
.social li.twitter-icon a:hover { background: none repeat scroll 0 0 #3aa9de; }
.social li.flickr-icon a:hover { background: none repeat scroll 0 0 #D80068; }
.social li.gplusicon-icon a:hover { background: none repeat scroll 0 0 #d14836; }
.social li.skype-icon a:hover { background: none repeat scroll 0 0 #01b0f1; }
.social li.youtube-icon a:hover { background: none repeat scroll 0 0 #cc332d; }
.social li.dribble-icon a:hover { background: none repeat scroll 0 0 #eb4d8a; }
.social li.pinterest-icon a:hover { background: none repeat scroll 0 0 #cb2028; }
.social li.tumblr-icon a:hover { background: none repeat scroll 0 0 #2c4762; }
.social li.github-icon a:hover { background: none repeat scroll 0 0 #4283c5; }
.social li.foursquare-icon a:hover { background: none repeat scroll 0 0 #2498c9; }
div.follow-icons li a {background: #eee; display: block; font-size: 20px; font-weight: normal; height: 35px; line-height: 35px; text-align: center; width: 35px;}



/***
Woocommerce
***/



.woocommerce ul.products li.product{
    border: 2px solid #003758;
    background: #f2f2f2;
    border-radius: 5px;
    overflow: hidden;
    margin: 0 20px 20px 0;
}

.woocommerce ul.products li.product h3{
    margin: 0;
    padding: 0;
    font-weight: bold;
    background: #003758;
    color: white;
    padding: 10px;
    line-height: 100%;
    min-height: 30px;
}

.woocommerce .products li ul.attribs
{
    padding: 10px;
    color: #003758;
    margin: 0;
}

.woocommerce .products li ul.attribs li{
    margin: 0;
}

.woocommerce .products li ul li strong{
    display: inline !important;
}

.woocommerce #content{
    position: relative;
}

.woocommerce #content .loader{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(images/ajax-loader.gif) no-repeat center 300px rgba(255,255,255,0.7);
    z-index: 10;
}

.woocommerce #content div.product div.summary{
    float: none;
}

.woocommerce #content div.product .product_meta > span{
    display: block;
}

.woocommerce div.product .woocommerce-tabs ul.tabs{
    display: none;
}

.woocommerce #searchform input[type="text"]{
    width: 65% !important;
    border: 1px solid #ccc;
    height: 25px;
    font-size: 100%;
    padding-left: 5px;
}

.woocommerce #searchform input[type="submit"]{
    display: inline;
    width: 28%;
}